/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button:hover {
  background-color: #c2c2c2;
  color: #000000;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.action-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
 }
 
 .action-button {
   color: white;
   background-color: #42545C;
 }
